.colorBox {
    --colorBoxBackground: var(--primary);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 0.5rem;

    width: 200px;
    height: 100px;
    border-radius: 4px;
    background-color: var(--colorBoxBackground);
    padding: 0.5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 2px 20px rgba(0, 0, 0, 0.03);
}

.colorName {
    font-size: 0.75rem;
    color: white;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}